@import "tailwindcss";

:root {
  --background: #E9E7E6;
  --foreground: #292929;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-urbanist: var(--font-urbanist);
  --font-space-mono: var(--font-space-mono), monospace;
  --font-hagrid: "hagrid", system-ui, sans-serif;

  --color-ci-yellow: #E1FF8E;
  --color-ci-black: #292929;
  --color-ci-purple: #A3A2F9;
  --color-ci-green: #6FD2A2;
  --color-ci-red: #FA5422;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #292929;
    --foreground: #E9E7E6;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
